<div class="container-fluid>">
    <div class="row mx-4 text-justify">
        <h5 class="mt-2" style="color:black;">Acerca de Mirada Joven</h5>
        <div>
            <p>
                Mirada Joven nació como un proyecto de información y comunicación dirigido a adolescentes y jóvenes que contribuyan a la toma de decisiones libres, responsables e informadas para el ejercicio pleno de sus derechos sexuales y reproductivos. 
            </p>
            <p>
                Buscamos construir una plataforma digital pensada por jóvenes y para jóvenes con el objetivo de ofrecer información clara, científica y oportuna, que desde un enfoque integral que abarque temáticas relevantes para el desarrollo pleno de las juventudes como: manejo de las emociones, salud mental, acciones de prevención contra la violencia de género y la violencia digital, reflexión sobre las masculinidades, diversidades sexuales, participación juvenil para contribuir al impulso de una agenda de desarrollo sostenible, emprendimiento y plan de vida.
            </p>
            <p>
                Además, Mirada Joven aspira facilitar un acceso adecuado a servicios de salud sexual para jóvenes y adolescentes que sea adecuado a sus edades y contextos.
            </p>
            <p>
                Con una población de más de 38 millones de jóvenes, de entre 12 y 29 años, consideramos primordial abrir espacios donde sus voces sean escuchadas y se promueva la participación y el diálogo. Mirada Joven anhela ser la plataforma número uno en impulsar e inspirar a las juventudes en convertirse en agentes de cambio que causen impactos positivos en su entorno inmediato.
            </p>
            <p>
                Mirada Joven es un proyecto que cuenta con el aporte técnico, supervisión y apoyo de diferentes organismos nacionales, estatales, internacionales y del sector privado: Fondo de Población de las Naciones Unidas (UNFPA), Fundación Mexicana para la Planificación Familiar (MEXFAM), Population Media Center, Fundación México Vivo, Fundación Televisa, Consejo Nacional de Población (CONAPO), 1doc3, Flow, ConstruyeT, Instituto de Liderazgo Simone de Beauvoir, Género y Desarrollo AC (GENDES), Balance y Colectiva Luchadoras AC.
            </p>
            <p>
                Cualquier contenido, opiniones o mensajes expresados en esta plataforma no necesariamente representan posiciones oficiales de cada una de las instituciones que participan en esta iniciativa. Asimismo, cualquier contenido, opinión o mensaje expresado en las plataformas o redes sociales de nuestros aliados no necesariamente representan posiciones oficiales por parte de Mirada Joven y el resto de los demás aliados y socios.
            </p>
        </div>
    </div>
</div>