<div class="row justify-content-center mx-3">
    <h3>{{'serviciosAmigables' | translate}}</h3>
</div>
<div class="row justify-content-center mx-3">
    <p>{{'acercateServicio' | translate}}</p>
</div>
<div class="row justify-content-center mx-3">
    <p class="text-muted" class="text-justify">
      {{'acercateServicioComplemento' | translate}}
     <br>
      {{'estosServicios' | translate}}
    </p>
</div>
<div class="row justify-content-center mx-3">
    <input  class="form-control"
            type="text"
            [(ngModel)]="autocompleteInput"
            #addresstext 
            style="padding: 12px 20px; border: 1px solid #ccc;">
</div>
<div class="row justify-content-center mt-2">
  <div class="container">
    <google-map
    width="100%"
    [zoom]="zoom"
    [center]="center"
    [options]="options"
    (centerChanged)="onCenterChange($event)"
    (zoomChanged)="onZoomChanged()">
      <map-marker
        #markerElem
        *ngFor="let marker of markers"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
        (mapClick)="openInfo(content, marker.info)">
      </map-marker>
      <map-info-window>{{ infoContent }}</map-info-window>
    </google-map>
  </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">{{ infoContent.unit_name }}</h5>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <p class="text-fs-info">{{'turno' | translate}} {{ infoContent.turn }}</p>
        <p class="text-fs-info">{{ infoContent.service_days  }}</p>
        <div class="row">
          <div class="col">
            <p class="text-fs-info">{{ infoContent.address }} {{ infoContent.neighborhood }} {{ infoContent.state }} {{ infoContent.postal_code }}</p>
          </div>
          <div class="col">
            <a target="_blank" href="https://maps.google.com/?q={{infoContent.coordinates.Rc}},{{infoContent.coordinates.Ac}}">Ir a la dirección</a>
          </div>
        </div>
        <p>{{ infoContent.phone }}</p>
        <p>A {{ distanceInKmFromPosition | number:'1.2-2'  }} {{'distanciaUbicacion' | translate}}</p>
        <div>
            <h6>{{'tipoAtencion' | translate}}</h6>
            <div class="row row-cols-3">
              <div class="col service-col">
                <div class="card mb-4 service-info-card">
                  <div style="text-align: center;">
                    <p class="fs-title">{{'orientacion' | translate}}<br>{{'consejera' | translate}}</p>
                    <p class="card-text text-fs-card">{{ infoContent.has_orientation_service?'SÍ':'NO' }}</p>
                  </div>
                </div>
              </div>
              <div class="col service-col">
                <div class="card mb-4 service-info-card">
                  <div style="text-align: center;">
                    <p class="fs-title">{{'atencion' | translate}}<br>{{'psicologica' | translate}}</p>
                    <p class="card-text text-fs-card">{{ infoContent.has_psychology_service?'SÍ':'NO' }}</p>
                  </div>
                </div>
              </div>
              <div class="col service-col">
                <div class="card mb-4 service-info-card">
                  <div style="text-align: center;">
                    <p class="fs-title">{{'atencion' | translate}}<br>{{'medica' | translate}}</p>
                    <p class="card-text text-fs-card">{{ infoContent.has_medic_service?'SÍ':'NO' }}</p>
                  </div>
                </div>
              </div>
              <div class="col service-col">
                <div class="card mb-4 service-info-card">
                  <div style="text-align: center;">
                    <p class="fs-title">{{'platicas' | translate}}<br>{{'enSSRA' | translate}}</p>
                    <p class="card-text text-fs-card">{{ infoContent.has_ssra?'SÍ':'NO' }}</p>
                  </div>
                </div>
              </div>
              <div class="col service-col">
                <div class="card mb-4 service-info-card">
                  <div style="text-align: center;">
                    <p class="fs-title">{{'talleres' | translate}}</p>
                    <p class="card-text text-fs-card" style="margin-top: 36px;">{{ infoContent.has_workshops?'SÍ':'NO' }}</p>
                  </div>
                </div>
              </div>
              <div class="col service-col">
                <div class="card mb-4 service-info-card">
                  <div style="text-align: center;">
                    <p class="fs-title">{{'entregaDe' | translate}}<br>{{'anticonceptivos' | translate}}<p>
                    <p class="card-text text-fs-card">{{ infoContent.has_contraceptive?'SÍ':'NO' }}</p>
                  </div>
                </div>
              </div>
              <div class="col service-col">
                <div class="card mb-4 service-info-card">
                  <div style="text-align: center;">
                    <p class="fs-title">{{'atencionDe' | translate}}<br>{{'embarazadas' | translate}}</p>
                    <p class="card-text text-fs-card">{{ infoContent.has_pregnant_service?'SÍ':'NO' }}</p>
                  </div>
                </div>
              </div>
              <div class="col service-col">
                <div class="card mb-4 service-info-card">
                  <div style="text-align: center;">
                    <p class="fs-title">{{'deteccionDe' | translate}}<br>{{'its' | translate}}</p>
                    <p class="card-text text-fs-card">{{ infoContent.has_its_service?'SÍ':'NO' }}</p>
                  </div>
                </div>
              </div>
              <div class="col service-col">
                <div class="card mb-4 service-info-card">
                  <div style="text-align: center;">
                    <p class="fs-title">{{'otra' | translate}}</p>
                    <p class="card-text text-fs-card" style="margin-top: 36px;">{{ infoContent.others?'SÍ':'NO' }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="display: none;">
              <div class="col-7">
                <p style="font-size: small;">{{'informacionBrindada' | translate}}</p>
              </div>
              <div class="col-5">
                <div class="row">
                  <div class="col">
                    <i class="far fa-frown fa-2x" style="color: red;cursor: pointer;" (click)="rateService(0)"></i>
                  </div>
                  <div class="col">
                    <i class="far fa-meh fa-2x" style="color: orange;cursor: pointer;" (click)="rateService(1)"></i>
                  </div>
                  <div class="col">
                    <i class="far fa-smile fa-2x" style="color: green;cursor: pointer;" (click)="rateService(2)"></i>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #opinionRate>
  <div class="modal-header">
    <h4 class="modal-title">{{'compartirOpinion' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{'ayudanMejorar' | translate}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close()">Close</button>
  </div>
</ng-template>