.text-fs-info {
    color: #BABABA;
}

.fs-title {
    font-size: xx-small;
}

.text-fs-card {
    font-size: larger;
    font-weight: bold;
    color: #8097B1;
}

.service-info-card {
    height: 80px;
}

.service-col {
    padding-right: 5px;
    padding-left: 5px;
}