a{
    text-decoration: none;   
}
.cardads{
    position: static;
    display: block;
    max-width: 370px;
    padding: 0px 0px 0px 100px;
    margin: 0.5rem 0;
    overflow: hidden;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    background-color:#F97F06;
}

#carbonads a {
    color: #1e1e20;
    text-decoration: none;
}

.carbon-img {
    float: left;
    margin-left: -100px;
}

.carbon-img .attachment-category-thumb {
    width: 80px;
    height: 80px;
}

.carbon-wrap {
    margin-top: 5px;
    display: block;
}

#carbonads a {
    color: #1e1e20;
    text-decoration: none;
}

.carbon-text h6 {
    font-size: 1.09rem;
    font-weight: bold;
    margin-bottom: 16px;
    display: block;
}