<div class="container-fluid>">
    <div class="row" class="text-justify">
        <div class="col">
            <h5 style="color:black;">{{'politicaPrivacidad' | translate}}</h5>
            <div>
            <br>
            
                {{'esUnProyectoCocreacion' | translate}}
                <br>
                <br>
                {{'politicaPrivacidadEstablece' | translate}}
                <br>
                <br>
                {{'todoElAplicativo' | translate}}
                <br>
                <br>
                <b>{{'loQueRecolectamos' | translate}}</b>
                <br>
                {{'miradaJovenRecolecta' | translate}}
                <br>
                <br>
                {{'miradaJovenRecopila' | translate}}
                <br>
                <br>
                <b>Privacy Policy:</b>
                <br>
                <br>
                From Firebase we use:
                <br>
                <ul>
                    <li> Firebase-Invites (https://firebase.google.com/docs/invites/)</li>
                    <li> Firebase-Messaging (https://firebase.google.com/products/cloud-messaging/) </li>
                    <li> Firebase-Analytics (https://firebase.google.com/products/analytics/) </li>
                </ul>
                <br>
                <h3 style="color:black;">{{'politicaPrivacidadMiradaJoven' | translate}}</h3>
                <br>
                <br>
                <b>{{'primerCompromiso' | translate}}</b>
                <br>
                {{'sabemosQueSuPrivacidad' | translate}}
                <br>
                <br>
                {{'miradaJovenSeCompromete' | translate}}
                <br>
                <br>
                <b>{{'leyOrganica' | translate}}</b>
                <br>
                <br>
                {{'aEfectosDeLaLey' | translate}}
                <br>
                <br>
                <b>{{'datosQueRequerimos' | translate}}</b>
                <br>
                <br>
                {{'alMomentoDeHacer' | translate}}
                <br>
                <br>
                {{'edad' | translate}}
                <br>
                {{'generoY' | translate}}
                <br>
                {{'direccionDeCorreo' | translate}}
                <br>
                <br>
                <b>{{'derechoDeAcceso' | translate}}</b>
                <br>
                <br>
                {{'comoUsuarioTitular' | translate}}
                <br>
                <br>
                <b>{{'formularios' | translate}}</b>
                <br>
                <br>
                {{'datosQueProporciones' | translate}}
                <br>
                <br>
                <b>{{'seguridad' | translate}}</b>
                <br>
                <br>
                {{'miradaJovenUtiliza' | translate}}
                <br>
                <br>
                <b>{{'cambiosAEsta' | translate}}</b>
                <br>
                <br>
                {{'podemosActualizar' | translate}}
                <br>
                <br>
                <b>{{'sobreDoc' | translate}}</b>
                <br>
                <br>
                {{'miradaJovenInstitucion' | translate}}
                <br>
                <br>
                <b>{{'firebaseUtiliza' | translate}}</b>
                <br>
                <ul>
                    <li> Firebase-Invites (https://firebase.google.com/docs/invites/)</li>
                    <li> Firebase-Messaging (https://firebase.google.com/products/cloud-messaging/) </li>
                    <li> Firebase-Analytics (https://firebase.google.com/products/analytics/) </li>
                </ul>
                <br>
                <br>
                <b>{{'descargoDeResponsabilidad' | translate}}</b>
                <br>
                <br>
                {{'usoLogotipos' | translate}}   
                <br>
                <br>
                {{'cualquierContenidoOpinion' | translate}} 
                <br>
                <br>
                {{'losEspaciosEnLasRedes' | translate}} 
                <br>
                <br>
                {{'cualquierComentario' | translate}}
                <br>
                <br>
                <ul>
                    <li>{{'elUsoDe' |translate}}</li>
                    <li>{{'losContenidos' | translate}}</li>
                    <li>{{'atenteContraDerechos' | translate}}</li>
                    <li>{{'publicidadIlicita' | translate}}</li>
                    <li>{{'contenidosFalsos' | translate}}</li>
                    <li>{{'elUsuarioSera' | translate}}</li>
                </ul>
                <br>
                {{'noSeraResponsable' | translate}} 
                <br>
                <br>
                {{'ofreceEnlaces' | translate}} 
                <br>
                <br>
                {{'mensajesExpresados' | translate}}
                <br>
                <br>
                {{'usuarioEnlaza' | translate}}
                <br>
                <br>
                {{'alEnviar' | translate}} 
                <br>
                <br>
                {{'podriaIncluirElUso' | translate}} 
                <br>
                <br>
                {{'losDatosProporcionados' | translate}}
                <br>
                <br>
                {{'alEntrarAlSitio' | translate}} 
                <br>
                <br>
                {{'variosIconos' | translate}}
                <br>
                <br>
            </div>
            
        </div>
    </div>
</div>
