#mainNav * {
    color:white!important;
    text-decoration: unset;
}

.icon-menu-1 {
    background-image: url(../assets/icon/menu-1.svg);
    background-repeat: no-repeat;
    background-position:center center;
}

.container-main{
    padding-right: 0% !important;
    padding-left: 0% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

